
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
      position: absolute;
      top: 50%;
      left:35%;
      border: 2px
      solid #009;
    font-size:50px
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;

    text-decoration: none;
    color: #333;
}

.post-title:visisted {
    color: #333;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

.age {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}


.alphatext {
    font-family: Tahoma, Arial, sans-serif;
    font-size: .8em;
    line-height: 1.3em;
    color: #333;
}


 
#topMenu ul li a:hover{
    color:#FFF;
    text-decoration:none;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
    left:35%;
    border: 2px
    solid #009;
    font-size:50px
}