#topMenu ul{
    background-color:#333;
    height:40px;
    list-style:none;
    margin:0;
    padding:0;
}
 
#topMenu ul li{
    float:left;
}
 
#topMenu ul li a{
    color:#666666;
    display:block;
    font-weight:bold;
    line-height:33px;
    padding:0px 50px;
    text-align:center;
    text-decoration:none;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 20px;
    right: 0px;
    display: inline;
}

.login-link {
    color: gray;
    text-decoration: none;
    display: inline;
}

.login-link:visited {
    color: gray;
    display: inline;
}

.login-link:hover {
    text-decoration: underline;
}