<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link type="text/css" rel="stylesheet" href="/static/main.css" />

 <STYLE type="text/css">

</style>

</head>
<body>

			<div id="topMenu">
			<ul>
				<li><a href="/jobc">Home</a></li>
				<li><a href="/jobc/realjob">Real Job Review</a></li>
				<li><a href="http://mentorcareer.blogspot.in/">Career Advice</a></li>
				<li><a href="/jobc/aboutus"><strong style="color:white;">About Us</strong></a></li>
			</ul>
			</div>

<h1>About Us</h1>

<b>What is Mentor Me</b></br>
Mentor me is an online platform for students of Joka to connect with their alumni across the globe. </br></br>
<b>Who uses our platform</b></br>
This has exclusively been developed for IIM Calcutta students so that they can make informed career decisions  </br></br>

<b>How does it work</b> </br>
Two easy steps:- </br>
1)	Login using your updated LinkedIn profile <br>
2)	Connect with peers / seniors </br>
</br>
<b>USP</b> </br>
<b>First Year students </b> </br>
•	Understand different career options </br>
•	Know in-depth about internship experience </br></br>
<b>Second year students </b></br>
•	Understand real job profiles / salary package </br></br>
<b>Alumni </b></br>
•	Pay it forward by helping current IIM Calcutta students </br>
•	Know about referral openings in different firms </br>
•	Connect with peers / alumni to make career advancement / shifts

</body>
</html>