
<!DOCTYPE html>

<html>
  <head>
    <title>Real Job Details</title>
  <link rel="stylesheet" type="text/css" media="all" href="/static/style.css">
  <link rel="stylesheet" type="text/css" media="all" href="/static/responsive.css">
  <link type="text/css" rel="stylesheet" href="/static/topmenu.css" />
    <style type="text/css">
   body {
  background: #fff url('http://3.bp.blogspot.com/-keRpZyH7Y1Y/UUXFlTKn5wI/AAAAAAAAFHk/DkqIrT7S6ic/s1600/body-bg.jpg') 0px 0px repeat;
  }

</style>
  </head>

  <body>
   <div class="wrapper" id="wrapper">
        <div id="topMenu">
	       <ul>
	         <li><a href="/jobc"><strong style="color:white;">Home</strong></a></li>
	         <li><a href="/jobc/realjob">Real Job Review</a></li>
	         <li><a href="http://mentorcareer.blogspot.in/">Career Advice</a></li>
	         <li><a href="/jobc/aboutus">About Us</a></li>
	         <li  class="login-area"> {% if user %}
	 	        {{user}} <a  style="display:inline" href="/jobc/logout">(logout)</a>
	    {% else %}
	 	        <a  style="display:inline" href="/jobc">login</a>
	     {% endif %}
	     </li>
	       </ul>
      </div>

    	<section id="container">
    	    <h2>Real Job Details</h2>
    <form name="hongkiat" id="hongkiat-form" method="post">
<div id="wrapping" class="clearfix">

			<img src="http://2.bp.blogspot.com/-neLmKL2ctig/UUXNBzWWr5I/AAAAAAAAFIw/fBeEqZcO8g4/s1600/user.png">
            {%set authorcheck1 = ''%}
            {%set authorcheck2 = ''%}
            {%set authorcheck3 = ''%}
            {% if authorcheck == "self"%}
            {% set authorcheck1 = "checked"%}
            {%elif authorcheck == "alum" %}
            {% set authorcheck2 ="checked"%}
            {% elif authorcheck == "anonymous" %}
            {%set authorchek3 ="checked"%}
            {%endif%}
			<span class="radiobadge">
           	 	<input type="radio" name="postas"  value="self" {{authorcheck1}}>
				<label for="self">Post as {{oneself}}</label>
			</span>
           	<span class="radiobadge">
           		<input type="radio" name="postas" value="Alumnus of {{schoolname}}" {{authorcheck2}} >
           		<label for="alum">Post as {{schoolname}}</label>
           	</span>
           	<span class="radiobadge">
           		<input type="radio" name="postas"  value="Anonymous" {{authorcheck3}}>
				<label for="anonymous">Post Anonymously</label>
			</span>
          <h3 style="margin-bottom: 8px;margin-top:15px;">Job Title:</h3>
			<input type="text"  name="title" placeholder="Job Title" autocomplete="off" class="txtinput" value="{{title}}">


      <h3 style="margin-bottom: 8px;">Company: </h3>
            <input type="text"  name="company" class="txtinput" value="{{company}}">


 <h3 style="margin-bottom: 8px;">Duration:</h3>
<section id ="duration">
            <input type="text" name="sdate" id="sdate" class="txtinput2" value="{{sdate}}" >
            <h3 style="float:left; display:inline; padding-top:3px; padding-bottom:3px; padding-right:50px; padding-left:50px;"> To </h3>
             <input type="text" name="edate" id="edate" class="txtinput2" style="float:right" value="{{edate}}">
</section>


<h3 style="clear:both;margin-bottom: 8px;"> Function:</h3>
          <select name="jobfunction"  id="recipient"  class="selmenu">
            {%set fselected1 = ''%}
            {%set fselected2 = ''%}
            {%set fselected3 = ''%}
            {%set fselected4 = ''%}
            {%set fselected5 = ''%}
            {%set fselected6 = ''%}
            {% if jfunction == "Marketing"%}
            {% set fselected1 = "selected"%}
            {% elif jfunction == "Sales"%}
            {% set fselected2 = "selected"%}
            {% elif jfunction == "Finance"%}
            {% set fselected3 = "selected"%}
            {% elif jfunction == "Consulting"%}
            {% set fselected4 = "selected"%}
            {% elif jfunction == "IT"%}
            {% set fselected5 = "selected"%}
            {% elif jfunction == "Supply Chain"%}
            {% set fselected6 = "selected"%}
            {% endif %}
            <option value="Marketing" {{fselected1}}>Marketing</option>
            <option value="Sales" {{fselected2}}>Sales</option>
            <option value="Finance" {{fselected3}}>Finance</option>
            <option value="Consulting" {{fselected4}}>Consulting</option>
            <option value="IT" {{fselected5}}>IT</option>
            <option value="Supply Chain" {{fselected6}}>Supply Chain</option>
          </select>

       <h3 style="margin-bottom: 8px;margin-top:15px;">
            Location:
          </h3>

             <input type="text" name="location" id="location" class="txtinput" value="{{location}}">

            <h3 style="margin-bottom: 8px;"> What's a typical day like for {{title}}  at {{company}}?</h3>
            <textarea name="jd"  id="jd" placeholder="Describe a day in your job ..." value="" class="txtblock">{{jd}}</textarea>

              <h3 style="margin-bottom: 8px;"> What's there to love about this job? </h3>
             <textarea name="jlove" id = "jlove" placeholder="What do you love about you job ..." value="" class="txtblock">{{jlove}}</textarea>

             <h3 style="margin-bottom: 8px;"> What one may not like about this job? </h3>
             <textarea name="jhate"   id = "jhate" placeholder="What do you not like about you job ..." value="" class="txtblock">{{jhate}}</textarea>
  			 <section id="buttons">
			      <input type="submit" name="submit" id="submitbtn" class="submitbtn" value="Submit">
      		 </section>
</div>

</section>
    </form>
     </div>
	   <div id="footer" class="footer">
	   <p>Copyright &copy; 2013</p>
</div>
  </body>

</html>