
<!DOCTYPE html>

<html>
  <head>
    <title>Real Job Details</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
      <div class="login-area">
      {% if user %}
          {{user}} (<a class="login-link" href="/jobc/logout">logout</a>)
   {% else %}
          <a class="login-link" href="/jobc">login</a>
    {% endif %}
  </div>
    <h2>Job Details</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Post as
          </td>
          <td>
            {%set authorcheck1 = ''%}
            {%set authorcheck2 = ''%}
            {%set authorcheck3 = ''%}
            {% if authorcheck == "self"%}
            {% set authorcheck1 = "checked"%}
            {%elif authorcheck == "alum" %}
            {% set authorcheck2 ="checked"%}
            {% elif authorcheck == "anonymous" %}
            {%set authorchek3 ="checked"%}
            {%endif%}
            <input type="radio" name="postas" value="self" {{authorcheck1}}>{{oneself}}
            <input type="radio" name="postas" value="alum" {{authorcheck2}} >{{schoolname}}
            <input type="radio" name="postas" value="anonymous" {{authorcheck3}}>Anonymous

          </td>
        </tr>

        <tr>
          <td class="label">
            Job Title
          </td>
          <td>
            <input type="text" size = "50" name="title" value="{{title}}">
          </td>
        </tr>
        <tr>
          <td class="label">
            Company
          </td>
          <td>
            <input type="text" size = "30" name="company" value="{{company}}">
          </td>
        </tr>
        <div>
        <tr>
          <div class="alphatext">
          <td class="label">
            From:
          </td>
          <td>
            <input type="text" size = "15" name="sdate" value="{{sdate}}" style="float:left">
          </td>
          <td class = "label" {padding-left:50px;}>to </td> 
          <td>
            <input type="text" size = "15" name="edate" value="{{edate}}">
          </td>
        </tr>
      </div>
        <tr>
          <td class="label">
            Function:
          </td>
          <td>
          <select name="jobfunction">
            {%set fselected1 = ''%}
            {%set fselected2 = ''%}
            {%set fselected3 = ''%}
            {%set fselected4 = ''%}
            {%set fselected5 = ''%}
            {%set fselected6 = ''%}
            {% if jfunction == "Marketing"%}
            {% set fselected1 = "selected"%}
            {% elif jfunction == "Sales"%}
            {% set fselected2 = "selected"%}
            {% elif jfunction == "Finance"%}
            {% set fselected3 = "selected"%}
            {% elif jfunction == "Consulting"%}
            {% set fselected4 = "selected"%}
            {% elif jfunction == "IT"%}
            {% set fselected5 = "selected"%}
            {% elif jfunction == "Supply Chain"%}
            {% set fselected6 = "selected"%}
            {% endif %}
            <option value="Marketing" {{fselected1}}>Marketing</option>
            <option value="Sales" {{fselected2}}>Sales</option>
            <option value="Finance" {{fselected3}}>Finance</option>
            <option value="Consulting" {{fselected4}}>Consulting</option>
            <option value="IT" {{fselected5}}>IT</option>
            <option value="Supply Chain" {{fselected6}}>Supply Chain</option>
          </select>
        </td>
        </tr>
        <tr>
          <td class="label">
            Location:
          </td>
          <td>
             <input type="text" name="location" value="{{location}}">
          </td>
        </tr>
         <tr>
          <td class="label">
            Descibe a day in your job:
          </td>
          <td>
            <textarea name="jd" rows="13" cols="75" value="">{{jd}}</textarea>
          </td>
        </tr>
         <tr>
          <td class="label">
            What You love about your job:
          </td>
          <td>
             <textarea name="jlove" rows="10" cols="75" value="">{{jlove}}</textarea>
          </td>
        </tr>
         <tr>
          <td class="label">
            What you don't like about your job:
          </td>
          <td>
             <textarea name="jhate" rows="5" cols="75" value="">{{jhate}}</textarea>
          </td>
        </tr>


      </table>

      <div class="error">
        {{error}}
      </div>

      <input type="submit">
    </form>
  </body>

</html>