<!DOCTYPE html>

<html>
  <head>
    <title>Real Job Details</title>
  <link rel="stylesheet" type="text/css" media="all" href="/static/style.css">
  <link rel="stylesheet" type="text/css" media="all" href="/static/responsive.css">
  <link type="text/css" rel="stylesheet" href="/static/topmenu.css" />
   <style type="text/css">
     body {
    background: #fff url('http://3.bp.blogspot.com/-keRpZyH7Y1Y/UUXFlTKn5wI/AAAAAAAAFHk/DkqIrT7S6ic/s1600/body-bg.jpg') 0px 0px repeat;
    }
</style>
  </head>

  <body>
  <div class="wrapper" id="wrapper">
        <div id="topMenu">
	       <ul>
	         <li><a href="/jobc"><strong style="color:white;">Home</strong></a></li>
	         <li><a href="/jobc/realjob">Real Job Review</a></li>
	         <li><a href="http://mentorcareer.blogspot.in/">Career Advice</a></li>
	         <li><a href="/jobc/aboutus">About Us</a></li>
	         <li  class="login-area"> {% if user %}
	 	        {{user}} <a class="login-link" style="display:inline" href="/jobc/logout">(logout)</a>
	    {% else %}
	 	        <a class="login-link" style="display:inline" href="/jobc">login</a>
	     {% endif %}
	     </li>
	       </ul>
      </div>

    	<section id="container">
    	    <h2>Real Job Details</h2>
    		<form name="hongkiat" id="hongkiat-form" method="post">
			<div id="wrapping" class="clearfix">

			<table>
            <tr>
            <td>
            <h4>Work Opportunity at firm &nbsp;&nbsp;&nbsp;</h4>
			</td>

            {%set wopcheck1 = ''%}
            {%set wopcheck2 = ''%}
            {%set wopcheck3 = ''%}
            {%set wopcheck4 = ''%}
            {%if wopcheck == "Excellent"%}
            {%set wopcheck1 = 'checked'%}
            {%elif wopcheck == "Good"%}
            {%set wopcheck2 = 'checked'%}
            {%elif wopcheck == "OK"%}
            {%set wopcheck3 = 'checked'%}
            {%elif wopcheck == "Notok"%}
            {%set wopcheck4 = 'checked'%}
            {% endif %}
            <td>
            <span class="radiobadge">
            <input type="radio" name="wop" value="Excellent" {{wopcheck1}}>
            <label for="Excellent" style="margin-right:5px">Excellent</label>
            </span>
            <span class="radiobadge">
            <input type="radio" name="wop" value="Good" {{wopcheck2}}>
            <label for="Good" style="margin-right:5px">Good</label>
            </span>
            <span class="radiobadge">
            <input type="radio" name="wop" value="Ok" {{wopcheck3}}>
            <label for="Ok" style="margin-right:5px">Ok</label>
            </span>
            <span class="radiobadge">
            <input type="radio" name="wop" value="Notok" {{wopcheck4}}>
            <label for="Notok" style="margin-right:5px">Not OK</label>
			</span>
			</td>
			</tr>

			<tr><td>
            <h4>Work Culture</h4>
			</td>

            {%set wccheck1 = ''%}
            {%set wccheck2 = ''%}
            {%set wccheck3 = ''%}
            {%set wccheck4 = ''%}
            {%if wccheck == "Excellent"%}
            {%set wccheck1 = 'checked'%}
            {%elif wccheck == "Good"%}
            {%set wccheck2 = 'checked'%}
            {%elif wccheck == "OK"%}
            {%set wccheck3 = 'checked'%}
            {%elif wccheck == "Notok"%}
            {%set wccheck4 = 'checked'%}
            {% endif %}
            <td>
             <span class="radiobadge">
            <input type="radio" name="wc" value="Excellent" {{wccheck1}}>
            <label for="Excellent" style="margin-right:5px">Excellent</label>
            </span>
             <span class="radiobadge">
            <input type="radio" name="wc" value="Good" {{wccheck2}}>
            <label for="Good" style="margin-right:5px">Good</label>
            </span>
             <span class="radiobadge">
            <input type="radio" name="wc" value="Ok" {{wccheck3}}>
            <label for="Ok" style="margin-right:5px">Ok</label>
            </span>
             <span class="radiobadge">
            <input type="radio" name="wc" value="Notok" {{wccheck4}}>
            <label for="Notok" style="margin-right:5px">Not Ok</label>
            </span>

			</td>
			</tr>

			<tr>
			<td>
            <h4>Salary Growth</h4>
			</td>

            {%set wsgcheck1 = ''%}
            {%set wsgcheck2 = ''%}
            {%set wsgcheck3 = ''%}
            {%set wsgcheck4 = ''%}
            {%if wsgcheck == "Excellent"%}
            {%set wsgcheck1 = 'checked'%}
            {%elif wsgcheck == "Good"%}
            {%set wsgcheck2 = 'checked'%}
            {%elif wsgcheck == "OK"%}
            {%set wsgcheck3 = 'checked'%}
            {%elif wsgcheck == "Notok"%}
            {%set wsgcheck4 = 'checked'%}
            {% endif %}
            <td>
            <span class="radiobadge">
            <input type="radio" name="wsg" value="Excellent" {{wsgcheck1}}>
            <label for="Excellent" style="margin-right:5px">Excellent</label>
            </span>
            <span class="radiobadge">
            <input type="radio" name="wsg" value="Good" {{wsgcheck2}}>
            <label for="Good" style="margin-right:5px">Good</label>
            </span>
            <span class="radiobadge">
            <input type="radio" name="wsg" value="Ok" {{wsgcheck3}}>
            <label for="Ok" style="margin-right:5px">Ok</label>
            </span>
            <span class="radiobadge">
            <input type="radio" name="wsg" value="Notok" {{wsgcheck4}}>
			<label for="Notok" style="margin-right:5px">Not Ok</label>
            </span>
			</td>
			<tr>
			<tr>
			<td>
            <h4>Work Life Balance</h4>
			</td>
            {%set wlbcheck1 = ''%}
            {%set wlbcheck2 = ''%}
            {%set wlbcheck3 = ''%}
            {%set wlbcheck4 = ''%}
            {%if wlbcheck == "Excellent"%}
            {%set wlbcheck1 = 'checked'%}
            {%elif wlbcheck == "Good"%}
            {%set wlbcheck2 = 'checked'%}
            {%elif wlbcheck == "OK"%}
            {%set wlbcheck3 = 'checked'%}
            {%elif wlbcheck == "Notok"%}
            {%set wlbcheck4 = 'checked'%}
            {% endif %}
            <td>
            <span class="radiobadge">
            <input type="radio" name="wlb" value="Excellent" {{wlbcheck1}}>
            <label for="Excellent" style="margin-right:5px">Excellent</label>
            </span>
            <span class="radiobadge">
            <input type="radio" name="wlb" value="Good" {{wlbcheck2}}>
            <label for="Good" style="margin-right:5px">Good</label>
            </span>
            <span class="radiobadge">
            <input type="radio" name="wlb" value="Ok" {{wlbcheck3}}>
            <label for="Ok" style="margin-right:5px">Ok</label>
            </span>
            <span class="radiobadge">
            <input type="radio" name="wlb" value="Notok" {{wlbcheck4}}>
			<label for="Notok" style="margin-right:5px">Not Ok</label>
            </span>
			</td>
			</tr>
	<tr>
	<td>
            	<h4>Alumni Base</h4>
	</td>
	<td>
              {%set abasecheck1 = ''%}
              {%set abasecheck2 = ''%}
              {%set abasecheck3 = ''%}
              {%if abasecheck == 'Strong'%}
              {%set abasecheck1 = 'checked'%}
              {%elif abasecheck == 'Moderate'%}
              {%set abasecheck2 = 'checked'%}
              {%elif abasecheck == 'Weak'%}
              {%set abasecheck3 = 'checked'%}
              {% endif %}
              <span class="radiobadge">
            	<input type="radio" name="abase" value="Strong" {{abasecheck1}}>
            	<label for="Strong">Strong</label>
            </span>
            <span class="radiobadge">
            <input type="radio" name="abase" value="Moderate" {{abasecheck2}}>
            <label for="Moderate">Moderate</label>
            </span>
            <span class="radiobadge">
            <input type="radio" name="abase" value="Weak" {{abasecheck3}}>
			<label for="Weak">Weak</label>
            </span>
</td>
</tr>
</table>
           		<h3 style="margin-bottom: 8px;margin-top:15px;"> Salary: </h3>

            	<h4>Fixed Salary</h4>
            	<input type="text" name="fsalary" style="margin-right:30px" value="{{fsalary}}">
            	<h4>Variable Salary</h4>
            	<input type="text" name="vsalary" style="margin-right:30px"  value="{{vslary}}">
            	<h4>Stock Option</h4>
              {%set stockcheck1 = ''%}
              {%set stockcheck2 = ''%}
              {%if stockcheck == 'Yes'%}
              {%set stockcheck1 = 'checked'%}
              {%elif stockcheck == 'No'%}
              {%set stockcheck2 = 'checked'%}
              {% endif %}
            <span class="radiobadge">
            	<input type="radio" name="stock" value="Yes" {{stockcheck1}}>
           		<label for="Yes">Yes</label>
			</span>
			<span class="radiobadge">
            	<input type="radio" name="stock" value="No" {{stockcheck2}}>
				<label for="No">No</label>
            </span>

			<h3 style="margin-bottom: 8px;margin-top:15px;">What CV points or skills would be relevant for this job?
      </h3>

            <textarea name="cvpoint" id="cvpoint" value="" class="txtblock">{{cvpoint}}</textarea>

            <h3 style="margin-bottom: 8px;">What's the interview process and what types of questions are asked for this position?
<img src="http://1.bp.blogspot.com/-zcrkWv0_naY/UVbgfP3C39I/AAAAAAAAFMM/TWT1Jx-U3Bs/s1600/help-icon.png"  width="22" height="22" Title="You can write about number of interview rounds, interviewer, specific interview questions you remember , preparation tips and relevant resources"/>
            </h3>

            <textarea name="iq" id="iq" value="" class="txtblock">{{iq}}</textarea>


            <h3 style="margin-bottom: 8px;"> What are the exit options for this job?
<img src="http://1.bp.blogspot.com/-zcrkWv0_naY/UVbgfP3C39I/AAAAAAAAFMM/TWT1Jx-U3Bs/s1600/help-icon.png"  width="22" height="22" Title="You can write about the career path, time taken to move from one level to another, different profiles and industry that one can join and key employers"/>
            </h3>

            <textarea name="eo" id="eo" value="" class="txtblock">{{eo}}</textarea>

       <section id="buttons">
	  			      <input type="submit" name="submit" id="submitbtn" class="submitbtn" value="Submit">
      		 </section>

      </div>
       <div class="error">
        {{error}}
      </div>

      		 </section>
</form>
   </div>
	   <div id="footer" class="footer">
	   <p>Copyright &copy; 2013</p>
</div>
  </body>

</html>