<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	  <link type="text/css" rel="stylesheet" href="/static/topmenu.css" />
 <STYLE type="text/css">

</style>

</head>
<body>


     <div id="topMenu">
	 	       <ul>
	 	         <li><a href="/jobc"><strong style="color:white;">Home</strong></a></li>
	 	         <li><a href="/jobc/realjob">Real Job Review</a></li>
	 	         <li><a href="http://mentorcareer.blogspot.in/">Career Advice</a></li>
	 	         <li><a href="/jobc/aboutus">About Us</a></li>
	 	         <li  class="login-area"> {% if user %}
	 	 	        {{user}} <a class="login-link" style="display:inline" href="/jobc/logout">(logout)</a>
	 	    {% else %}
	 	 	        <a class="login-link" style="display:inline" href="/jobc">login</a>
	 	     {% endif %}
	 	     </li>
	 	       </ul>
      </div>

<h1> Browse Job by functions </h1>
<tr>
<td>	Real job reviews of  <a  href="/jobc/marketing">Marketing Jobs</a></td> <br><br>
<td>	Real job reviews of  <a  href="/jobc/sales">Sales Jobs</a></td> <br><br>
<td>	Real job reviews of  <a  href="/jobc/finance">Finance Jobs</a></td> <br><br>
<td>	Real job reviews of  <a  href="/jobc/consulting">Consulting Jobs</a></td> <br><br>
<td>	Real job reviews of  <a  href="/jobc/informationtechnology">IT Jobs</a></td> <br><br>
<td>	Real job reviews of  <a  href="/jobc/supplychain">Supply Chain Jobs</a></td> <br><br>

</tr>

</body>
</html>