<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <STYLE type="text/css">
body, html {
background: url(http://1.bp.blogspot.com/-OLRQz-OJbsE/USB2muW3eyI/AAAAAAAAFHM/Tbcb0c1uQbc/s1600/background3.jpg) no-repeat top left fixed #f0e9d6;
color: #FFFFFF;
}

.input {
	border: 2px
	solid #009;
	position:fixed;
	bottom:300px;
	left:100px;
	font-size:50px
}

.h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
	color:white;
}


 </STYLE>
<head>
<body>

		<div id="TopNav" >
			<div id="NavWrapper">
			<ul>
				<a href="/jobc/home" class="h2">Home/       </a>
				<a href="/jobc/realjob" class="h2">   Real Job Review/      </a>
				<a href="/jobc/blog" class="h2">    Career Advice/</a>
				<a href="/job/aboutus" class="h2">    About Us/</a></li>
			</ul>
			</div>
		</div>
<div>
<br><br>   <form method="post">
<input type="submit" class="input" value="Login with Linkedin">
</form>

</div>

</body>
</html>