<!DOCTYPE html>

<html>
  <head>
    <title>Logout Page</title>
      <link rel="stylesheet" type="text/css" media="all" href="/static/style.css">
  <link type="text/css" rel="stylesheet" href="/static/topmenu.css" />
</head>
</head>

  <body>
  	 <div id="topMenu">
             <ul>
               <li><a href="/jobc"><strong style="color:white;">Home</strong></a></li>
               <li><a href="/jobc/realjob">Real Job Review</a></li>
               <li><a href="http://mentorcareer.blogspot.in/">Career Advice</a></li>
               <li><a href="/jobc/aboutus">About Us</a></li>
               <li  class="login-area"> {% if user %}
                {{user}} <a  style="display:inline" href="/jobc/logout">(logout)</a>
          {% else %}
                <a  style="display:inline" href="/jobc">login</a>
           {% endif %}
           </li>
             </ul>
      </div>
 <section id="container">
    <h3>Thank you for using jobc! </h3>
    <h3>You are signed out now!</h3>
    </br>
    <h3> Browse Job by functions:</h3>

<h3> &bull; Real job reviews of  <a  href="/jobc/marketing">Marketing Jobs</a></h3>
<h3>  &bull; Real job reviews of  <a  href="/jobc/sales">Sales Jobs</a></h3>
<h3>  &bull; Real job reviews of  <a  href="/jobc/finance">Finance Jobs</a></h3>
<h3>  &bull; Real job reviews of  <a  href="/jobc/consulting">Consulting Jobs</a></h3>
<h3>  &bull; Real job reviews of  <a  href="/jobc/informationtechnology">IT Jobs</a></h3>
<h3>  &bull; Real job reviews of  <a  href="/jobc/supplychain">Supply Chain Jobs</a></h3>

<section>
  	</body>

</html>