<!DOCTYPE html>

<html>
  <head>
    <title>Logout Page</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>
</head>

  <body>
  	<div id="topMenu">
      <ul>
        <li><a href="/jobc"><strong style="color:white;">Home</strong></a></li>
        <li><a href="/jobc/realjob">Real Job Review</a></li>
        <li><a href="http://mentorcareer.blogspot.in/">Career Advice</a></li>
        <li><a href="/jobc/aboutus">About Us</a></li>
      </ul>
      </div>
    Thank you for using jobc! <br>
    You are signed out now!

  	</body>

</html>