<!DOCTYPE html>

<html>
  <head>
     <link type="text/css" rel="stylesheet" href="/static/main.css" />
       <link type="text/css" rel="stylesheet" href="/static/topmenu.css" />
    <title>{{title}}</title>


  </head>
   <body>
      <div id="topMenu">
	  	       <ul>
	  	         <li><a href="/jobc"><strong style="color:white;">Home</strong></a></li>
	  	         <li><a href="/jobc/realjob">Real Job Review</a></li>
	  	         <li><a href="http://mentorcareer.blogspot.in/">Career Advice</a></li>
	  	         <li><a href="/jobc/aboutus">About Us</a></li>
	  	         <li  class="login-area"> {% if user %}
	  	 	        {{user}} <a class="login-link" style="display:inline" href="/jobc/logout">(logout)</a>
	  	    {% else %}
	  	 	        <a class="login-link" style="display:inline" href="/jobc">login</a>
	  	     {% endif %}
	  	     </li>
	  	       </ul>
      </div>
<h2> {{title}} @ <a href="{{companyurl}}">{{companyname}}</a></h2>
Review Posted by  <a class = "" href="{{authorurl}}">{{author}}</a><br>
Review Date {{date}} <br> <br>

<b>My typical one day at job</b><br>{{jd}}<br><br>
<b>What I love</b> <br>{{jlove}}<br><br>
<b>What I not like</b> <br>{{jhate}}<br><br>
<b>Interview question</b><br>{{iq}}<br><br>
<b>Exit Option</b> <br>{{eo}}<br><br>
Work Opportunity: {{wop}}<br>
Work Culture: {{wc}}<br>
Salary Growth: {{wsg}}<br>
Work Life Balance: {{wlb}}<br><br>
Salary {{salary}}<br><br>

  </body>
  </html>