<!DOCTYPE html>

<html>
  <head>
       <link type="text/css" rel="stylesheet" href="/static/topmenu.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/static/style.css">
    <style type="text/css">

    </style>
    <title>{{title}}</title>


  </head>
   <body>
      <div id="topMenu">
	  	       <ul>
	  	         <li><a href="/jobc"><strong style="color:white;">Home</strong></a></li>
	  	         <li><a href="/jobc/realjob">Real Job Review</a></li>
	  	         <li><a href="http://mentorcareer.blogspot.in/">Career Advice</a></li>
	  	         <li><a href="/jobc/aboutus">About Us</a></li>
	  	         <li  class="login-area"> {% if user %}
	  	 	        {{user}} <a  style="display:inline" href="/jobc/logout">(logout)</a>
	  	    {% else %}
	  	 	        <a  style="display:inline" href="/jobc">login</a>
	  	     {% endif %}
	  	     </li>
	  	       </ul>
      </div>
 <section id="container">
<h2> {{title}} </br>@ <a href="{{companyurl}}">{{companyname}}</a></h2>
<h3> Review Posted by  <a {{authorurl}}>{{author}}</a></h3>
<h4>Review Date {{date}} </h4>

<h3>{{jd}} </h3>

<h3>{{jlove}}</h3>
<h3>{{jhate}}</h3>
{%if rating_sentence%}<h3> {{rating_sentence}} </h3>{%endif%}
<h3>What would you be tested on if you were to interview for this?</h3><h4>{{iq}}</h4>
<h3>Exit Option:</h3><h4>{{eo}}</h4>

<h3>Salary {{salary}}</h3>

{%if user%}<span style="font-size:1.2em"> <em><a href={{jdpage1}}>Edit Real Job Details</a></em></span>{%endif%}
 </section>
  </body>
  </html>