<!DOCTYPE html>

<html>
  <head>
    <title>{{jdtitle}}</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>
   <body>
<h1> {{title}}</h1>
Review Posted by  <a class = "" href="{{author}}">author</a><br>
Review Date {{date}} <br>

My typical one day at job<br>
{{jd}}<br>
Salary {{salary}}<br>
What I love <br>{{jlove}}<br>
What I not like <br>{{jhate}}<br>
Interview question<br>{{iq}}<br>
Exit Option <br>{{eo}}<br>
Work Opportunity {{wop}}<br>
Work culture{{wc}}<br>
Salary Growth {{wsg}}<br>
Work Life Balance {{wlb}}<br>

 <a class = "Go back" href="{{summaryurl}}">Go Back</a>
  </body>
  </html>